<div class="meets-list">
	@if (mode() === 'generic') {
		<div class="meets-list__filters">
			<input
				pInputText
				class="meets-list__search"
				[placeholder]="translateService.translate('Search meets...')()"
				[ngModel]="searchTerm()"
				(ngModelChange)="searchTerm.set($event)"
			/>

			<p-multiSelect
				[options]="interests"
				optionLabel="label"
				optionValue="id"
				[placeholder]="translateService.translate('Interests')()"
				[ngModel]="selectedInterestIds()"
				(ngModelChange)="selectedInterestIds.set($event)"
			/>

			<p-select
				[options]="coffeeShops()"
				optionLabel="name"
				optionValue="id"
				[showClear]="true"
				[placeholder]="translateService.translate('Coffee Shops')()"
				[ngModel]="selectedCoffeeShopId()"
				(ngModelChange)="selectedCoffeeShopId.set($event)"
			/>

			<p-datepicker
				[placeholder]="translateService.translate('Date')()"
				[showIcon]="true"
				[showClear]="true"
				[ngModel]="selectedDate()"
				(ngModelChange)="selectedDate.set($event)"
			/>

			<p-select
				[options]="timeframeOptions"
				optionLabel="label"
				optionValue="value"
				[ngModel]="timeframe()"
				(ngModelChange)="timeframe.set($event)"
			/>

			<button pButton type="button" (click)="createMeet()">
				{{ translateService.translate('Create Meet')() }}
			</button>
		</div>
	} @else {
		<div class="meets-list__tabs">
			@for (tab of tabs; track tab.key) {
				<button
					type="button"
					class="meets-list__tab"
					[class.meets-list__tab--active]="activeTab() === tab.key"
					(click)="activeTab.set(tab.key)"
				>
					{{ translateService.translate(tab.label)() }}
				</button>
			}

			<button pButton type="button" size="small" class="meets-list__create" (click)="createMeet()">
				{{ translateService.translate('Create Meet')() }}
			</button>
		</div>
	}

	<div class="meets-list__grid">
		@for (meet of meets(); track meet.id) {
			<app-meet-card
				[meet]="meet"
				[coffeeShopName]="coffeeShopName(meet.coffeeShopId)"
				[currentUserId]="userService.user()?._id ?? null"
				(open)="openMeet(meet.id)"
				(goingToggle)="toggleGoing(meet.id, $event)"
			/>
		} @empty {
			<p class="meets-list__empty">{{ translateService.translate('No meets match yet.')() }}</p>
		}
	</div>
</div>
