<div class="meets-list">
	<div class="meets-list__header">
		@if (title()) {
			<h1 class="meets-list__title">{{ translateService.translate(title())() }}</h1>
		}

		<app-interests-filter
			[(selectedInterestIds)]="selectedInterestIds"
			styleClass="meets-list__interests"
		/>

		<p-select
			[options]="coffeeShops()"
			optionLabel="name"
			optionValue="id"
			[showClear]="true"
			[placeholder]="translateService.translate('Coffee Shops')()"
			[ngModel]="selectedCoffeeShopId()"
			(ngModelChange)="selectedCoffeeShopId.set($event)"
			appendTo="body"
			class="meets-list__coffee-shops"
		/>

		@if (!todayOnly()) {
			<button
				pButton
				type="button"
				class="meets-list__past-toggle"
				[severity]="showPast() ? 'primary' : 'secondary'"
				(click)="showPast.set(!showPast())"
			>
				{{ translateService.translate('Show past meets')() }}
			</button>
		}
	</div>

	<div class="meets-list__grid">
		@for (meet of meets(); track meet.id) {
			<app-meet-card
				[meet]="meet"
				[coffeeShopName]="coffeeShopName(meet.coffeeShopId)"
				[currentUserId]="userService.user()._id"
				(open)="openMeet(meet.id)"
				(goingToggle)="toggleGoing(meet.id, $event)"
			/>
		} @empty {
			<p class="meets-list__empty">{{ translateService.translate('No meets match yet.')() }}</p>
		}
	</div>
</div>
