<div class="map-page">
	<div class="map-page__filters">
		<app-interests-filter
			[(selectedInterestIds)]="selectedInterestIds"
			styleClass="map-page__interests"
		/>

		<button pButton type="button" severity="secondary" (click)="goToCoffeeShops()">
			{{ translateService.translate('Coffee Shops')() }}
		</button>
	</div>

	<div class="map-page__body">
		<app-leaflet-map
			[center]="geoService.userLocation()"
			[zoom]="13"
			[markers]="markers()"
			(markerSelected)="onMarkerSelected($event)"
		/>
	</div>
</div>
